
UnityProject/Zero/Library/

UnityProject/Zero/Temp/
/UnityProject/Zero/.vs
/UnityProject/Zero/obj
/UnityProject/Zero/Assembly-CSharp.csproj
/UnityProject/Zero/Zero.sln
/UnityProject/ZeroIL/.vs
/UnityProject/ZeroIL/ZeroIL/obj
/UnityProject/ZeroIL/ZeroIL/bin
/UnityProject/Zero/Assembly-CSharp-Editor.csproj
/UnityProject/Zero/Zero.csproj
/UnityProject/Zero/Zero.Editor.csproj
/UnityProject/Zero/Caches
/UnityProject/Zero/Libs.csproj
/UnityProject/Zero/ZeroIL.csproj
/UnityProject/Res/android
/UnityProject/Zero/Assets/StreamingAssets
/UnityProject/ZeroIL/ZeroIL/Code
/UnityProject/ZeroIL/ZeroIL/codes
/UnityProject/Zero/Assembly-CSharp.csproj.user
/AndroidProject/Project/.idea
/AndroidProject/Project/app/app.iml
/AndroidProject/Project/Project.iml
/AndroidProject/Project/local.properties
/AndroidProject/Project/zero/zero.iml
/UnityProject/Zero/ILProject/bin
/UnityProject/Zero/ILProject/obj
/UnityProject/Zero/ILProject/codes
/UnityProject/Zero/ILProject/.vs
/UnityProject/Zero/Unity.Analytics.DataPrivacy.csproj
/UnityProject/Zero/Unity.CollabProxy.Editor.csproj
/UnityProject/Zero/Unity.PackageManagerUI.Editor.csproj
/UnityProject/Zero/Logs
/UnityProject/Zero/.vscode
/UnityProject/Zero/Res/pc/local_data.zero.json
/UnityProject/Zero/Res/ios/local_data.zero.json
/UnityProject/Zero/Res/android/local_data.zero.json
